<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="MainConnectionString" connectionString="Data Source=ms-sql-5.in-solve.ru; Initial Catalog=1gb_dbmdb; User Id=1gb_titarx;Password=154a3ef7"/>
    <add name="TestConnectionString" connectionString="Data Source=WEBSERVICE1; Initial Catalog=DBM; Integrated Security=True"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="idmiv@yahoo.com">
        <network host="smtp.yandex.ru" port="465" userName="titarx" password="83aQ7572438ya" enableSsl="true" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <customErrors mode="RemoteOnly"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="IBM.Data.DB2, Version=9.7.4.4, Culture=neutral, PublicKeyToken=7C307B91AA13D208"/>
      </assemblies>
    </compilation>
    <globalization requestEncoding="UTF-8" responseEncoding="UTF-8" culture="ru-RU" uiCulture="ru-RU" enableClientBasedCulture="true"/>
    <httpRuntime requestValidationMode="2.0"/>
    <pages theme="Main" validateRequest="false"/>
    <authentication mode="Forms">
      <forms name="Login" loginUrl="~/Sections/Profile/Login/Login.aspx" defaultUrl="~/Sections/Profile/My/Profile.aspx" protection="All" timeout="60" path="/" requireSSL="false" slidingExpiration="true" cookieless="UseCookies"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <membership defaultProvider="MainMembershipProvider">
      <providers>
        <clear/>
        <add name="MainMembershipProvider" connectionStringName="TestConnectionString" applicationName="DBM" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" type="System.Web.Security.SqlMembershipProvider" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="6" maxInvalidPasswordAttempts="10" passwordAttemptWindow="60"/>
      </providers>
    </membership>
    <profile enabled="true" defaultProvider="MainProfileProvider" automaticSaveEnabled="false">
      <providers>
        <clear/>
        <add name="MainProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="TestConnectionString" applicationName="DBM"/>
      </providers>
      <properties>
        <add name="ConnectionsClass" type="ConnectionsClass" serializeAs="Binary"/>
        <add name="CommandsClass" type="CommandsClass" serializeAs="Binary"/>
      </properties>
    </profile>
    <roleManager enabled="true" defaultProvider="MainRoleProvider" cacheRolesInCookie="true" cookieProtection="All" createPersistentCookie="false">
      <providers>
        <clear/>
        <add name="MainRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="TestConnectionString" applicationName="DBM"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>